.navbar {
    z-index: 999;
    position: sticky;
    top: 0px;
    height: 120px;
    width: 100%;
    display: flex;
    gap: 10%;
    border-bottom: 1px solid black;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
}


@media only screen and (max-width:800px){
    .navbar .links-container{
        display: none;
    }
}

.logo-container{
    display: flex;
    width: 15vw;
    object-fit: cover;
}
.logo{
    width: 100%;
    height: 100%;
}

.links-container {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    gap: 10px;

}

.l-wrapper {
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
    

}
.link{
    line-clamp: 0;
    border: none;

}

.l-wrapper .lItems{
    color: #777;
}

.lItems {
    border: none; 
    display: flex;

    gap: 1px;

}


.left-container {

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;


}

.social-wrapper {
    width: 60%;
    display: flex;
    gap: 5px;
}
.F{
    color: #777;
    cursor: pointer;
}
.T{
    color:rgb(61, 127, 226);
    cursor: pointer;
}
.I{
    color: #777;
    cursor: pointer;
}
.W{
    color: rgb(61, 127, 226);
    cursor: pointer;
}
.P{
    color: #777;
}
.E{
    color: rgb(61, 127, 226);
}

.bottom-links {

    display: flex;
    gap: 20px;
    align-items: center;

}

.blItems {
    display: flex;
    align-items: center;
    gap: 1px;
    cursor: pointer;
}
.bottom-links .blItems .Link{
    color: rgb(0, 123, 255);
}