.navbar {
    z-index: 999;
    position: sticky;
    top: 0px;
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    background-color: white;
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.2);
}


.links-container {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.l-wrapper {

    display: flex;
    gap: 20px;
    margin-bottom: 10px;

}

.lItems {
    border: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 3px;
}


.left-container {

    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: flex-end;

}

.social-wrapper {
    width: 60%;

    display: flex;
    gap: 5px;
}
.F{
    color: rgb(60, 8, 206);
    cursor: pointer;
}
.T{
    color:rgb(5, 91, 220);
    cursor: pointer;
}
.I{
    color:orangered;
    cursor: pointer;
}
.W{
    color: rgb(14, 223, 14);
    cursor: pointer;
}

.bottom-links {

    display: flex;
    gap: 10px;
    align-items: center;

}

.blItems {
    color: blue;
    display: flex;
    align-items: center;
    gap: 1px;
    cursor: pointer;
}