//telefon modunda navbarda ki linkler kaybolacak ve icondan erişilebileck
//fixed olsun ve tarnsparan olsun


$small: 800px;



.navbar {
    margin: 0;
    
    min-height: 80px;
    max-height: 80px;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;

    .left {
   

        flex: 1;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        .tab {
            display: none;
        }

        img {
            height: 70%;
            width: 50%;
        }

    }

    .center {
       
        flex: 2;
        
        height: fit-content;
        display: flex;
        justify-content: center;
        border-radius: 20%;
        box-sizing: border-box;
    
        .center-container {
            border-radius: 10%;
            height: 40px;
            background-color: white;
            padding: 0px 60px;
            display: flex;
            gap: 30px;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
        }

    }

    .right {
        flex: 1;

        height: 80px;
        margin-right: -25px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;


        .link-container {


            display: flex;
            gap: 16px;
            text-align: center;
            align-items: center;
            position: relative;


            .link {

                font-style: italic;
            }

            .shopIcon {

                border: 1px solid black;
                border-radius: 50%;
                padding: 2px 2px;
            }

            span {
                background-color: black;
                border-radius: 50%;
                color: wheat;
                position: absolute;
                top: -6px;
                right: 10px;
                font-size: 12px;
                padding: 0px 4px;

            }

        }


    }
}


@media screen and (max-width: $small) {

    .navbar {
        justify-content: space-between;
        margin: 10px 15px;

        .left {

            .tab {
                display: flex;
                cursor: pointer;
            }

            img {
                height: 50%;
                width: 5 0%;
            }
        }

        .center {
            display: none;
        }


    }
}