.slider-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.slider {
    height: 550px;
    width: 85vw;
    overflow: hidden;

}

.slider-container {
    height:  550px;
    display: flex;
    transition: all 1s ease-in-out;
    object-fit: cover;
}

.slider-container>img {
    width: 85vw;
    height:  550px;
    object-fit: cover;
    
}

.icon-west {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.447);
    border-radius: 100%;
    border: 1px solid white;
    color: white;
    padding: 20px 20px;
}

.icon-east {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.447);
    border-radius: 100%;
    border: 1px solid white;
    color: white;
    padding: 20px 20px;
    z-index: 2;
  
}