.collection {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.collection-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.img-wrapper {
    width: 40%;
    height: 300px;
    border: 1px solid black;
    margin: 10px;
    cursor: pointer;
}

.img-wrapper>img {
    border: none;
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: grayscale(100%) contrast(120%);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, .2);
    display: block;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);

}

.img-wrapper>img:hover {
    box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, .1);
    
}