//telefon modunda 
//Footerdaki selectorlar alt alta gelecek.
$small: 800px;

.footer {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(44,37,32);

    .adress {
        margin-top: 20px;
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
        span {
            width: 40%;  
            &:nth-child(1) {  
                color: rgb(232,231, 231);
                font-weight: bold;
                font-size: 20px;
            }

            &:nth-child(2) {
                color: rgb(180, 174, 169);
            }
        }


    }

    .links {
        width: 33%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        text-decoration: underline;
        font-size: 20px;
        text-underline-offset: 10px;

        .link {
            color: rgb(232,231, 231);
        }

    }

    .social {

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 33%;
        
        h5 {
            color: rgb(232,231, 231);
            display: flex;
            justify-content: center;
            width: 100%;
            font-weight: bold;
                font-size: 20px;
        }

        span {
            color: rgb(180, 174, 169);

            cursor: pointer;
            transition: all .2s ease-in-out;

            &:nth-child(1n):hover {
                color: rgb(40, 0, 199)
            }

            &:nth-child(2n):hover {
                color: rgb(255, 94, 0);

            }

            &:nth-child(3n):hover {
                color: rgb(29 161 242);
            }
        }




    }

    .turn-navbar-button {
        color: rgb(232,231, 231);
        height: fit-content;
        cursor: pointer;

        .up-arrow {
            height: 50px;
            width: 50px;
            transition: all .2s ease-in-out;
        }

        .up-arrow:hover {
            transform: scale(1.3);
            color: red;

        }
    }

}



@media screen and (max-width: $small) {

    .footer{
        width: 100%;
        flex-direction: column;
        gap: 25px;
        .adress{
           display: none;
        }
        .links{
            padding: 20px;
            gap: 27px;
            flex-direction: row;

            
        }
        .social{
            margin: -25px;
        }
    }
   }