$slider : 400px;


.home {
    display: flex;
    flex-direction: column;
    gap: 30px;
    .top{
        display: flex;
        justify-content: space-evenly;
      
        .info-container{
            width: 50%;
        
            
        }
}



}