.home {
   width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    background-color: white;

}


.subTitle {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subTitle>hr {
    flex-grow: 1;
    width: 100%;
}

.subTitle>h3{
    text-overflow: ellipsis; 
    white-space: nowrap;
}

.subTitle .link{
    text-overflow: ellipsis; 
    white-space: nowrap;
}