.home {
    width: 100%;
    display: flex;
    flex-direction: column;
}



.subTitle {
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 5px;
}

.subTitle>hr {
    flex-grow: 1;
}
