$slider : 400px;


.home {
    .top{
        display: flex;
        justify-content: space-around;
        .slider {
            height: 550px;
            width: 550px;
            position: relative;
    
            .container {
                img {
                    height: 550px;
                    width: 550px;
                    object-fit: cover;
                }
            }
            .icons{
                position: absolute;
                right: 0;
                bottom: 0;
            }
    }
}



}