.container {
  width: 85vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-wrap: wrap;


}


.previous_page_container{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.col-title>h2 {
  font-size: 34px;
  font-weight: 500;
  text-transform: uppercase;

}

.col-title h2:before {
  background-color: #c50000;
  border-radius: 0.25rem;
  content: '';
  display: block;
  height: 0.25rem;
  width: 42px;
  margin-bottom: 1.25rem;
}


.collections-wrapper {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;

}

.snip1401 {
  font-family: 'Playfair Display', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  height: 15vw;
  width: 20vw;
  object-fit: cover;
  cursor: pointer;
  color: #000000;
  text-align: right;
  font-size: 16px;
  background-color: #000000;
  overflow: hidden;
  box-shadow: 10px 10px 8px #888888;
}

.snip1401 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1401 img {
  height: 100%;
  max-width: 100%;
  backface-visibility: hidden;
}

.snip1401 figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
  opacity: 1;
  padding: 30px 0 30px 10px;
  background-color: #ffffff;
  width: 40%;
  -webkit-transform: translateX(150%);
  transform: translateX(150%);
}

.snip1401 figcaption:before {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 100%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 120px 0;
  border-color: transparent #ffffff transparent transparent;
}

.snip1401:after {
  position: absolute;
  bottom: 50%;
  right: 40%;
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 120px 120px 0 120px;
  border-color: rgba(255, 255, 255, 0.5) transparent transparent transparent;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}

.snip1401 h3,
.snip1401 p {
  -webkit-transform: translateX(-30px);
  transform: translateX(-30px);
  margin: 0;
}

.snip1401 h3 {
  margin: 0 0 5px;
  font-weight: 900;
  opacity: 0.75;
}

.snip1401 p {
  font-size: 0.7em;
}

.snip1401 i {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 20px 30px;
  font-size: 44px;
  color: #ffffff;
  opacity: 0;
}

.snip1401 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.snip1401:hover img,
.snip1401.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}

.snip1401:hover:after,
.snip1401.hover:after,
.snip1401:hover figcaption,
.snip1401.hover figcaption,
.snip1401:hover i,
.snip1401.hover i {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}