.homeimg{
    display: flex;
    width: 93vw;
    height: 30vw;
    gap: 30px;
    background-color: red;
    margin: 0;

}

.right{
    flex: 2;
    background-color: aquamarine;
    display: flex;
    height: 100%;
    border: none;

}
.right>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.left{
    display: flex;
    background-color: bisque;
    flex: 1;
    height: 100%;
    flex-direction: column;
    border: none;
    gap: 20px;

}

.img_1{
    display: flex;
    height: 15vw;
    width: 100%;
  
}
.img_1>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.img_2{
    display: flex;
    height: 15vw;
    width: 100%;
}

.img_2>img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}