.form-field{
    height: fit-content;
    width: fit-content;
    position: relative;
    input{

    }
    .search-icon{

        position: absolute;
        right: 0;
        cursor: pointer;

    }
  
}