

.form-field{
    height: fit-content;
    width: fit-content;
    position: relative;
}
.form-field>input{
    border: none;
    border-bottom: 1px solid #555;
    width: 400px;
    max-width: 400px;
}

.search-icon{
    
    position: absolute;
    right: 0;
    cursor: pointer;
}