.n-product {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    margin-bottom: 10px;
    padding-bottom: 50px;

}

.product-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid lightgrey;
    overflow: hidden;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    box-sizing: border-box;
    opacity: 1;
}    



.Buttons{
    height: 100%;
    width: 100%;
    opacity: 0;;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0px;
    top: 0px;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    flex-direction: column;
    gap: 15px;

}

.Buttons>button{
    cursor: pointer;
    min-height: 20px;
    min-width: 150px;
    font-size: 25px;
    border-radius: 10px;
    font-style: italic;
    background-color: indigo;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);
    color: white;

}
.Buttons>button:nth-child(2):hover{
    background-color: red;
    opacity: 1;
}

.product-container:hover{
    scale: 1.2;
}

.product-container>img {
    height: 350px;
    width: 200px;
    object-fit: cover;
    transition: all .5s cubic-bezier(.8,.5,.2,1.4);

}
.Buttons:hover{
    opacity: 0.8;

}


.prices {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(50, 47, 44);
    border-radius: 20px 0px 0px 0px;
    padding: 0px 20px;
}

.prices>span:nth-child(1) {
    color: yellow;
    font-weight: bold;
}

.prices>span:nth-child(2) {
    color: white;
    text-decoration: line-through;
    font-weight: bold;
}


.p-new {
    position: absolute;
    top: 0;
    left: 0;
    background-color: yellow;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.p-new>span {
    color: black;
    padding: 15px 15px;
}

.pf-cargo {
    position: absolute;
    top: 60px;
    left: 0px;
    background-color: lightblue;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.pf-cargo>span {
    color: white;
    padding: 15px 15px;
}

.p-discount {
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: red;
    border-radius: 0px 10px 10px 0px;
    border: none;
}

.p-discount>span {
    color: white;
    padding: 15px 15px;
}